In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as  np
#U7E2RZ7OF0PPKFRR

In [ ]:
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt
import sys
 
def stockchart(symbol):
    ts = TimeSeries(key='U7E2RZ7OF0PPKFRR', output_format='pandas')
    #data, meta_data = ts.get_daily(symbol=symbol,interval='1min', outputsize='full')
    data, meta_data = ts.get_daily(symbol=symbol, outputsize='compact')
    #print(data)
    data['4. close'].plot()
    plt.title(' chart')
    plt.show()

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as  np
import csv
    
    
    
#def load_data(file_name):
#    return pd.read_csv(file_name)

def load_daily_adj_close(file_name):
    """Yahoo Finance CSV data: 5th col is adj close"""
    df = pd.read_csv(file_name, usecols=[5])
    return df
    
    
df= load_daily_adj_close('VFINX_03_17_P2.csv')
# 'VFINX_03_17_P2.csv' is just file 2003-2017 file from project 2
df.head() # display first five entries of the data frame.

   Adj Close
0  60.540508
1  62.562218
2  62.532394
3  63.934917
4  63.517139